* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header {
  background: white;
}

strong {
  color: hsl(160deg, 100%, 30%)
}

main {
  background: hsl(0deg, 0%, 40%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 8px hsl(0deg, 0%, 60%) solid;
}
.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}

.intro-chunk {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

.card {
  margin: 0 auto;
  width: fit-content;
  background: white;
  padding: 0.5rem;
}

.card p {
  padding-inline: 0.5rem;
}

.indented-heading {
  width: fit-content;
  padding: 0.5rem 1.5rem;
  margin: 0;
  margin-left: -1rem;
  background: hsl(45deg, 100%, 50%);
  border-bottom: 0.5rem solid hsl(45deg, 100%, 40%); 
  font-weight: bold;
}
